<%= simple_form_for(@business) do |f| %>
  <%= f.error_notification %>

  
  	<div class="form-group">
    	<%= f.input :name, input_html: { class: 'form-control'} %>
  	</div>
  	<div class="form-group">
    	<%= f.input :info, input_html: { class: 'form-control'} %>
  	</div>
  	<div class="form-group">
    	<%= f.input :logo, input_html: { class: 'form-control'} %>
  	</div>
  	<div class="form-group">
    	<%= f.input :website, input_html: { class: 'form-control'} %>
  	</div>
  	<div class="form-group">
    	<%= f.input :email, input_html: { class: 'form-control'} %>
  	</div>
  	<div class="form-group">
    	<%= f.input :phone, input_html: { class: 'form-control'} %>
  	</div>
  

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
